<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block header %}
        {% endblock %}
    </title>

    {% block extra_head %}
    {% endblock %}

</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>