{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {% csrf_token %}
    <script>
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";
        axios.defaults.headers.common['X-CSRFTOKEN'] = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}

